
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navMain{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    background-color: #FFD966;
    padding:10px 0;
}
.navMain a{
    color:black;
    text-decoration: none;
}
.navMain .navGroupMain{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navMain .lang{
    margin-left: 10px;
    font-size: 2rem;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:none;
    outline:none;
    padding:0;
}
.navMain .lang a,
.navMain .lang p{
    margin:0;
    padding:5px 15px;
    color:grey;
    background-color: grey;
}
.navMain .lang a:first-child,
.navMain .lang p:first-child{
    border-radius: 15px 0 0 15px;
}
.navMain .lang a:last-child,
.navMain .lang p:last-child{
    border-radius: 0 15px 15px 0;
}
.navMain .lang .selected{
    color:black;
    background-color: white;
}

.navMain .chapter,
.navMain .navOptions{
    font-size: 1.5rem;
}

.navMain .chapter select{
    font-size: 1.5rem;
    padding:10px 50px 10px 15px;
    margin-left: 10px;
    background-color: white;
    border:none;
    outline:none;
    border-radius: 10px;
}

.navMain .navOptions{
    margin-left: 10px;
}
.navMain .navOptions a{
    padding:10px 25px;
    border-radius: 15px;
    margin-right: 10px;
    background-color: white;
}
.navMain .navOptions .selected{
    background-color: #A3C3F5;
}
.navMain .navOptions a:last-child{
    margin-right: 0;
}

.navMain .logo{
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.navTools{
    background-color: #EDF2FA;
    padding:10px 0;
}
.navTools .basicTools,
.navTools .basicTools div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navTools .basicTools{
    margin-left:10px;
    padding:5px 0;
}
.navTools .basicTools div{
    margin-right: 1rem;
}
.navTools .basicTools img{
    height: 30px;
    width: auto;
    margin-right:1rem;
}

.navTools .stanzaEdit{
    margin-right: 10px;
}
.navTools .stanzaEdit button{
    background-color: #A3C3F5;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    padding:5px 10px;
    border:none;
    outline: none;
    margin-left:5px;
}