@tailwind base;
@tailwind components;
@tailwind utilities;


/* navigation */
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navMain{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    background-color: #FFD966;
    padding:10px 0;
}
.navMain a{
    color:black;
    text-decoration: none;
}
.navMain .navGroupMain{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navMain .lang{
    margin-left: 10px;
    font-size: 2rem;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:none;
    outline:none;
    padding:0;
    /* width: 100%; */
}
.navMain .lang a,
.navMain .lang p{
    margin:0;
    padding:0.1rem 0.75rem;
    color:grey;
    background-color: grey;
}
.navMain .lang a:first-child,
.navMain .lang p:first-child{
    border-radius: 15px 0 0 15px;
}
.navMain .lang a:last-child,
.navMain .lang p:last-child{
    border-radius: 0 15px 15px 0;
}
.navMain .lang .selected{
    color:black;
    background-color: white;
}

.navMain .chapter,
.navMain .navOptions{
    font-size: 1.5rem;
}

.navMain .chapter select{
    font-size: 1.5rem;
    padding:10px 50px 10px 15px;
    margin-left: 10px;
    background-color: white;
    border:none;
    outline:none;
    border-radius: 10px;
}

.navMain .navOptions{
    margin-left: 10px;
}
.navMain .navOptions a,
.navMain .navOptions button{
    padding:0.5rem 1.5rem;
    border-radius: 15px;
    margin-right: 10px;
    background-color: white;
}
.navMain .navOptions .selected{
    background-color: #A3C3F5;
}
.navMain .navOptions a:last-child,
.navMain .navOptions button:last-child{
    margin-right: 0;
}

.navMain .logo{
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.navTools{
    background-color: #EDF2FA;
    padding:10px 0;
}
.navTools .basicTools,
.navTools .basicTools div,
.navTools .toolLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navTools .basicTools{
    margin-left:15px;
    padding:5px 0;
}
.navTools .basicTools div{
    margin-right: 1rem;
}
.navTools .basicTools img,
.navTools .basicTools button,
.navTools .basicTools a{
    height: 1.75rem;
    width: auto;
    margin-right:1rem;
}

.navTools .basicTools .fontSize{
    margin-right: 2rem;
}
.navTools .basicTools .fontSize img{
    height: 1.15rem;
}
.navTools .basicTools .fontSize button,
.navTools .basicTools .fontSize button img{
    margin:0;
}
.navTools .basicTools .fontSize #fontSizeView{
    margin: 0 0.75rem;
}

.navTools .stanzaEdit{
    margin-right: 10px;
}
.navTools .stanzaEdit button{
    background-color: #A3C3F5;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    padding:0.1rem 0.75rem;
    border:none;
    outline: none;
    margin-left:5px;
}

.navTools .colourPicker{
    /* padding:5px 0; */
    display: flex;
    position: relative;
}
.navTools .colourSwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navTools .colourSwatch p{
    text-align: center;
    font-size: 1.25rem;
    font-family: sans-serif;
    margin-bottom: -0.2rem;
}
.navTools .colourSwatch img{
    height: 1.05rem;
    width: auto;
    margin:0.1rem
}
.navTools .colourTools{
    display: flex;
}
.navTools .colourTools .colourPicker{
    margin-right: 1.25rem;
}
.navTools .colourPickerWrapper{
    display: flex;
    flex-direction: row;
}
.navTools .colourPickerWrapper .colourMore{
    width: 0.5rem;
    display: flex;
    align-items: center;
    margin-left: 0.35rem;
}
.navTools .colourPickerWrapper .swatch:hover{
    background-color: rgba(0,0,0,0.25);
}


.poemViewPort{
    margin:2.5rem 2.5rem;
}
.poemParagraph{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    /* margin-bottom: 1rem; */
}
.poemLine{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    white-space: nowrap;
    margin:0.5rem 0.25rem;
    /* margin:1.5% 1%; */
}
.poemWord{
    margin:0.1rem 0;
    margin-right: 0.45rem;
    /* margin-bottom: 0.25rem; */
    cursor: pointer;
}

.colourTools button {
    padding:0.25rem 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
}
.colourTools button p{
    /* font-family: sans-serif; */
}


.poemWord.selected{
    background-color: red;
}


/* style used to horizontally divide contents */
/* .poemViewPort.structure{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    max-height: 30rem;
    overflow-x: scroll;
    padding-bottom: 3rem;
}
.poemViewPort.structure .poemParagraph{
    margin-right: 2rem;
    border-right: 3px dashed grey;
} */